{
  "root": true,
  "rules": {
    "no-console": "warn",
    "no-shadow": "warn",
    "import/export": "off",
    "no-case-declarations": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off",
    "camelcase": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-unused-expressions": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "react/require-default-props": "warn",
    "react/jsx-props-no-spreading": "warn",
    "react/destructuring-assignment": "warn",
    "react/prop-types": "warn",
    "react/no-array-index-key": "warn",
    "react/no-unused-prop-types": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-cycle": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-typescript", "prettier/@typescript-eslint"],
  "ignorePatterns": ["src/graphql/__generated__", "*.mjml"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".ts"]
        }
      }
    }
  }
}
