.idea/
.netlify/
build/
node_modules/
public/
/src/components/block/__generated__/
src/components/block/multiple_choice/__generated__/
src/components/block/text/__generated__/
src/components/course/__generated__/
src/components/dashboard/__generated__/
src/components/hocs/Sidebar/__generated__/
src/components/lessons/__generated__/
src/components/slides/__generated__/
src/components/students/__generated__/
src/graphql/mutations/__generated__/
src/pages/__generated__/
src/routes/__generated__/
src/serviceWorker.ts
