.DS_STORE
node_modules
.env
.idea

# dependencies
/node_modules
/.pnp
.pnp.js
/.idea
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

failed-introspect*
.idea/.gitignore
.idea/app.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/graphql-settings.xml

backend/.idea/.gitignore
backend/.idea/backend.iml
backend/.idea/codeStyles/
backend/.idea/inspectionProfiles/
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/vcs.xml
./
frontend/package-lock.json

# Local Netlify folder
.netlify