{
  "root": true,
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "no-console": "warn",
    "import/export": "off",
    "no-case-declarations": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "operator-linebreak": "off"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-typescript", "prettier/@typescript-eslint"],
  "ignorePatterns": ["src/graphql/__generated__", "*.mjml"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".ts"]
        }
      }
    }
  }
}
